
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
  max-width: 1050px;
  margin: auto;
}

p, li, textarea, label, input, select {
 
  /* Default font size and line height */
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}














.grand-titre {
  
  background-color: #fcce00;
  font-size: 88px;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
 
  
}

.Sous-titre {
  
  background-color: #ff6b00;
  font-size: 38px;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 8px;
  margin-top: 8px;
 
 

}

.fond-entete {
  background-color: #e02020;
  height: 32px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.fond-entete-2 {
  background-color: #b620e0;
  height: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.fond-entete-3 {
  background-color: #6236ff;
  height: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.titre1 {
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  color:#231f20;
}
.titre2 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color:#231f20;
}

li,
.texte1{ 
  font-size: 16px;
  text-align: justify;
  font-weight: 400;
  color:#231f20;
}

.bouton1{
  margin-top: 32px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #fcce00;
  border: 2px solid #fcce00;
  padding: 6px;
  border-radius:15px;
  text-decoration: none;
  float: right;
}

.bouton2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #ff6b00;
  border: 2px solid #ff6b00;
  padding: 6px;
  border-radius:15px;
  text-decoration: none;
  float: right;
}

.titre3 {
  font-size: 32px;
  text-align: left;
  font-weight: 400;
  color:#ffffff;
}


.texte2 {
  font-size: 24px;
  text-align: left;
  font-weight: 400;
  color:#ffffff;
}

.bouton3 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 6px;
  border-radius:15px;
  text-decoration: none;
  float: left;
}

.titre4{
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  color: #ffffff; 
}

.produit {
  display: flex;
}

.box1{
  text-align: justify;
  width: 50%;
  margin-right: 32px;
  
  flex-basis: 0;
  flex-grow: 1;
}
.boxdroite {

  display:flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(#fcce00,transparent) left repeat, url(bitmap.png);
  
  flex-basis: 0;
  flex-grow: 1;
}
.boxdroite img {
  mix-blend-mode:darken;
}

.boxgauche2{
  margin-top: 30px;
  margin-right: 32px;
  display:flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(#ff6b00,transparent) left repeat, url(bitmap2.png);
  
  flex-basis: 0;
  flex-grow: 1;


}

.box2{

  text-align: justify;
  width: 50%;
  margin-right: 32px;
  
  flex-basis: 0;
  flex-grow: 1; 
}

.boxgauche2 img {
  mix-blend-mode:darken;
}
.coverImage {
  width: 252px;
  padding: 7px;

}
.imagesContainer {
  margin-top: 10px;;
}
.produit2 {
  display: flex;
  background:linear-gradient(#e02020,transparent) left repeat;

}
.form-row label {
  height: 23px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  display: block;

}
.form-row input, .form-row textarea {
  border-radius: 5px;
  border:none;
}
.latestReleases {
  min-height: 350px;
  padding: 25px 15px 25px 15px;
  background-color: #231f20;
}
.form {
  max-width: 680px;
  margin: auto;
}
.leftForm {
  display: inline-block;
  margin-right: 45px;
}
.rightForm {
  display: inline-block;
}
.box{
  text-align: justify;
  width: 50%;
  margin-right: 32px;
  padding: 10px 0px 10px 55px;
  flex-basis: 0;
  flex-grow: 1;
}
footer {
  background-color: #231f20;
  min-height: 500px;
}
.boxdroite3 {

  display:flex;
  align-items: center;
  justify-content: center;
  
  flex-basis: 0;
  flex-grow: 1;
}
.boxdroite3 img {
  mix-blend-mode:darken;
}


.produit3 {
  display: flex;
  background:linear-gradient(#b620e0,transparent)left repeat;
}
  .box3 {
    text-align: justify;
    width: 50%;
    margin-right: 32px;
    
    flex-basis: 0;
    flex-grow: 1;
  }
  .boxdroite {
  
    display:flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(#fcce00,transparent) left repeat, url(bitmap4.png);
    
    flex-basis: 0;
    flex-grow: 1;
  }
  .boxdroite img {
    mix-blend-mode:darken;
  }

.produit4 {
  display: flex;
  background:linear-gradient(#6236ff,transparent) left repeat;
}
  .box1{
    text-align: justify;
    width: 50%;
    margin-right: 32px;
    
    flex-basis: 0;
    flex-grow: 1;
  }
  .boxdroite {
  
    display:flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(#fcce00,transparent) left repeat, url(bitmap5.png);
    
    flex-basis: 0;
    flex-grow: 1;
  }
  .boxdroite img {
    mix-blend-mode:darken;
  }



p 

p{
  font-size:16px;
}
h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/